body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0, .4);
    background-size: cover;
    background-position: center;
}

:root{
    --primary-color: #15171c;
    --secondary-color: #232933;
    --another-color: #2E3744;
}
   
.header{
    background-color: var(--another-color);
    height: 350px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

h1{
    margin-top: 150px;
    text-align: center;
    font-size: 70px;
    font-weight: 900;
}

.header-container p{
    font-size: 20px;
    font-weight: 500;
    color: #fff
}

.contact-section{
    position: relative;
    padding:  200px 0;
    height: 1000px;
    
}

.contact-container{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card-1, .card-2, .card-3{
    width: 300px;
    height: 160px;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 40px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.card-1{
    background-color: var(--primary-color);
}

.card-2{
    background-color: var(--another-color);
}

.card-3{
    background-color: var(--secondary-color);
}

.map-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.mail-container{
    margin-top: 75px;
    margin-left: 75px;
    display: flex;
    width: 60%;
    height: 300px;
}

.mail-box{
    width: 500px;
    height: 100%;
    background-color: var(--another-color);
    border-radius: 10px;
    padding: 20px;
}


.newsletter-container{
    background: rgba(233, 233, 233, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.newsletter-section{
    position: absolute;
    top: 400px;
    padding-left: 700px;
    padding-top: 30px;
    justify-content: space-between;
}
  
.newsletter-section p {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
}

.newsletter-container input{
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 10px;
    width: 270px;
    font-size: 15px;
    border: none;
}

.newsletter-container button {
    background-color:var(--another-color);
    box-shadow: none;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    border: none;
    width: 250px;
    margin-left: 25px;

}